@page "/contacts"
@page "/"
@inject IPrivateContactService ContactService
@inject NavigationManager NavigationManager
@inject PublicContactService PublicContactService

<PageTitle>Contacts</PageTitle>

<h3>Contacts</h3>

@if (data != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Birth Date</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Custom Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in data)
            {
                <tr>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.Email</td>
                    <td>@contact.PhoneNumber</td>
                    <td>@contact.BirthDate</td>
                    <td>@contact.Category.Name</td>
                    @if (contact.Subcategory != null)
                    {
                        <td>@contact.Subcategory.Name</td>
                    }
                    @if (contact.UserCategory != null)
                    {
                        <td>@contact.UserCategory.Name</td>
                    }
                    <AuthorizeView>
                        <Authorized>
                            <td>
                                <button class="btn btn-primary" @onclick="(() => ShowContact(contact.Id))"><i class="oi oi-pencil"></i></button>
                            </td>
                        </Authorized>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No contacts available</p>
}
<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="CreateNewContact">Create New Contact</button>
    </Authorized>
</AuthorizeView>


@code {
    private List<Contact> data;
    protected override async Task OnInitializedAsync()
    {
        await PublicContactService.GetContacts();
        data = PublicContactService.Contacts.ToList();
    }

    void ShowContact(int id)
    {
        NavigationManager.NavigateTo($"contact/{id}");
    }

    void CreateNewContact()
    {
        NavigationManager.NavigateTo("/Contact");
    }
}
