@page "/CreateContact"
@inherits CreateContactBase

@if(string.IsNullOrEmpty(Id))
{
    <PageTitle>Add New Contact</PageTitle>
    <h1>Add New Contact</h1>
}
else
{
    <PageTitle>Manage Contact</PageTitle>
    <h1>Manage Contact</h1>
}

<div class="row">
    <EditForm Model="@contactDto" OnValidSubmit="@HandleValidRequest" OnInvalidSubmit="@HandleFailedRequest">
        <div class="form-group">
            <label class="col-md-3">First name</label>
            <InputText class="col-md-8 form-control" @bind-Value="@contactDto.FirstName"></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Last name</label>
            <InputText class="col-md-8 form-control" @bind-Value="@contactDto.LastName"></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Email</label>
            <InputText class="col-md-8 form-control" @bind-Value="@contactDto.Email"></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Password</label>
            <InputText class="col-md-8 form-control" @bind-Value="@contactDto.Password"></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Phone number</label>
            <InputText class="col-md-8 form-control" @bind-Value="@contactDto.PhoneNumber"></InputText>
        </div>
        <div class="form-group">
            <label class="col-md-3">Birth date</label>
            <InputDate class="col-md-8 form-control" @bind-Value="@contactDto.BirthDate"></InputDate>
        </div>
        <div class="form-group">
            <label class="col-md-3">Category</label>
            <InputSelect @bind-Value="SelectedCategory" class="col-md-8">
                <option value="">Select category</option>
                @foreach (var category in categories)
                {
                    <option value="@category">@category.CategoryName</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label class="col-md-3">Subcategory</label>
            <InputSelect @bind-Value="SelectedSubcategory" class="col-md-8">
                <option value="">Select subcategory</option>
                @foreach (var subcategory in subcategories)
                {
                    <option value="@subcategory">@subcategory.SubcategoryName</option>
                }
            </InputSelect>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-warning">Save Contact</button>
            <a @onclick="@GoToContacts" class="btn btn-primary">back</a>
            <br />
        </div>
        <br />
        <p style="color: red">@Message</p>
    </EditForm>
</div>
